@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?yaeu1y');
  src: url('fonts/icomoon.eot?yaeu1y#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yaeu1y') format('truetype'),
    url('fonts/icomoon.woff?yaeu1y') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: 18px;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list:before {
  content: '\e900';
}
.icon-add:before {
  content: '\e901';
}
.icon-air-conditioner:before {
  content: '\e902';
  color: #60a5fa;
}
.icon-alarm:before {
  content: '\e903';
  color: #ecfdf5;
}
.icon-app-menu:before {
  content: '\e904';
}
.icon-approval:before {
  content: '\e905';
}
.icon-arrow-left:before {
  content: '\e906';
}
.icon-arrow-right:before {
  content: '\e907';
}
.icon-Ativo-2:before {
  content: '\e908';
}
.icon-dark-mode:before {
  content: '\e909';
}
.icon-garage-area:before {
  content: '\e90a';
  color: #818cf8;
}
.icon-garden-area:before {
  content: '\e90b';
  color: #34d399;
}
.icon-house:before {
  content: '\e90c';
}
.icon-internal-area:before {
  content: '\e90d';
}
.icon-lamp-bulb:before {
  content: '\e90e';
  color: #f59e0b;
}
.icon-light-mode:before {
  content: '\e90f';
}
.icon-lightning:before {
  content: '\e910';
}
.icon-mute:before {
  content: '\e911';
}
.icon-notification:before {
  content: '\e912';
}
.icon-settings:before {
  content: '\e913';
}
.icon-sorting:before {
  content: '\e914';
}
.icon-volume-down:before {
  content: '\e915';
}
.icon-volume-up:before {
  content: '\1f317';
}
